<div class="row">
    <div class="col-md-8">
        <div class="jumbotron bg-dark shadow">
            <h1 class="display-3" style="color: #ececec;"><span style="color: #7332af;">Featured</span> Projects</h1>
            <hr class="my-4">
            <h5 style="color: #ececec;">Hover over a tile for details, then give it a click to view the corresponding repository on GitHub</h5>
        </div>
    </div>
    {{!-- <div class="col-md-4 chart-container">
        <canvas id="myChart" class="myChart" height="260px"></canvas>
    </div> --}}
</div>

<div class="row projects-row">
    {{#each currentProjects}}
    <div class="col-md-4">
        <figure class="overlay shadow">
            <a href="{{url}}" target="_blank"><img id="overlay-img" class="overlay-img shadow"
                    src="{{openGraphImageUrl}}" alt="Still image of {{name}}">
                <div class="overlay-text">
                    <h5 class="overlay-title">{{name}}</h5>
                    <br>
                    <h6 class="overlay-subtext">{{description}}</h6>
                </div>
            </a>
        </figure>
    </div>
    {{/each}}
</div>

{{!-- <script>
    let myChart = document.getElementById('myChart').getContext("2d");
    let languageChart = new Chart(myChart, {
        type: 'doughnut',
        data: {
            labels: ['JavaScript', 'Handlebars', 'CSS', 'HTML'],
            datasets: [{
                label: 'Repository Language Makeup',
                data: [12, 19, 3, 5],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script> --}}